transfer/dump.sql.gz filter=lfs diff=lfs merge=lfs -text

npm-debug.log

/node_modules
/.build
/build
*.deb
*.rpm

.DS_Store
.idea
.project
Thumbs.db

*.swp
*.swo
*.zip

/.composer

/src/.env
/vendor/*
/public/assets/*

/var/lib
/dist
/.runtime

wp-content/uploads/*
wp-content/backup*
wp-content/cache*
wp-content/debug.log
wp-admin/adminer.php
wp-admin/searchreplace
wp-content/wflogs
wp-config.php
readme*.html
license.txt
